.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    justify-content: center;
    margin: 0 auto 92px;
    max-width: 1184px;
}

@media screen and (max-width:1204px) {
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
    }
}

@media screen and (max-width:948px) {
    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
    }
}

@media screen and (max-width:745px) {
    .photo-grid {
        grid-template-columns: repeat(1, 288px);
        grid-template-rows: repeat(12, 216px);
        margin: 0 0px 92px;
    }
}

@media screen and (max-width:320px) {
    .photo-grid {
        margin: 0 0px 64px;
        gap: 12px;
    }
}