.places {
    display: grid;
    justify-content: center;
    row-gap: 80px;
    margin: 0 48px 92px;
}

@media screen and (max-width:768px) {
    .places {
        row-gap: 73px;
        margin: 0 24px 90px;
    }
}

@media screen and (max-width:660px) {
    .places {
        grid-template-columns: auto;
        row-gap: 32px;
        margin: 0 auto 66px;
    }
}

@media screen and (max-width:320px) {
    .places {
        row-gap: 50px;
        margin: 0 0 66px;
    }
}

