.place__image {
    margin: 0;
    max-width: 460px;
}

@media screen and (max-width:1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width:920px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width:660px) {
    .place__image {
        max-width: 320px;
        justify-self: center;
    }
}

@media screen and (max-width:340px) {
    .place__image {
        max-width: 100%;
    }
}
