.place__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 26px;
    max-width: 484px;
}

.place__paragraph:last-child {
    margin: 0;
}


@media screen and (max-width:768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width:660px) {
    .place__paragraph {
        margin: 0 16px 25px;
    }

    .place__paragraph:last-child {
        margin: 0 16px 0;

    }
}