.intro__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 33px;
    max-width: 690px;
}

@media screen and (max-width:1020px) {
    .intro__text {
        max-width: 720px;
    }
}



@media screen and (max-width:320px) {
    .intro__text {
        margin-bottom: 34px;
    }
}

