.cover {
    margin: 0 48px 92px;
}

@media screen and (max-width:1024px) {
    .cover {
        margin: 0 0 92px;
    }
}

@media screen and (max-width:320px) {
    .cover {
        margin: 0 0 64px;
    }
}