.place {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 460px auto;
    gap: 48px 40px;
}

@media screen and (max-width:1024px) {
    .place {
        gap: 48px 32px;
        grid-template-columns: 440px auto;
    }
}

@media screen and (max-width:920px) {
    .place {
        gap: 48px 28px;
        grid-template-columns: 340px auto;
    }
}

@media screen and (max-width:660px) {
    .place {
        grid-template-columns: auto;
        row-gap: 32px;
    }
}