.footer {
    display: flex;
    margin: 0 48px 24px;
    gap: 18px;
}

@media screen and (max-width:768px) {
    .footer {
        margin: 0 24px 24px;
    }
}

@media screen and (max-width:700px) {
    .footer {
        margin: 0 16px 24px;
        flex-direction: column;
        gap: 32px;
    }
}